.photo {
  width: 100%;
  height: 41.129vw;
  background-color: #f7f8fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photo img {
  width: 21.7742vw;
  height: 21.7742vw;
  border-radius: 50%;
}
.photo span {
  font-size: 5.871vw;
}
.message {
  width: 100%;
}
.message li {
  width: 100%;
  height: 11.6129vw;
  padding-left: 10px;
  background-color: #fff;
  font-size: 18px;
  line-height: 11.6129vw;
  border-bottom: 1px solid #ccc;
}
.message li:last-child {
  border: none;
}
