.nav {
  width: 100px;
  background-color: #fff;
  height: 1000px;
  position: absolute;
}
.nav li {
  height: 70px;
  text-align: center;
  line-height: 70px;
}
.active {
  background-color: #f7f8fa;
}
.specific {
  position: absolute;
  left: 110px;
  display: flex;
  flex-wrap: wrap;
}
.specific img {
  width: 125px;
  flex: 50%;
  display: none;
}
.specific img:first-child {
  display: block;
}
